package components

templ Layout(isLoggedIn bool) {
	@HtmlWrapper() {
		@header(isLoggedIn)
		<div class="space-y-12 p-12 container mx-auto">
			{ children... }
		</div>
	}
}

templ HtmlWrapper() {
	<html data-theme="sunset">
		<head>
			<title>Mailing List</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link
				href="/public/styles.css"
				rel="stylesheet"
			/>
			<link rel="icon" href="/public/favicon.ico" type="image/x-icon"/>
			<script defer src="https://unpkg.com/htmx.org@2.0.6/dist/htmx.min.js" crossorigin="anonymous"></script>
		</head>
		<body>
			{ children... }
			<script>
				document.addEventListener("DOMContentLoaded", (event) => {
					document.body.addEventListener('htmx:beforeSwap', function(evt) {
						if (evt.detail.xhr.status === 422) {
							evt.detail.shouldSwap = true;
							evt.detail.isError = false;
						}
					});
				})

			</script>
		</body>
	</html>
}
